In [19]:
import numpy as np
import pandas as pd
import scipy.stats as stats
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, mean_absolute_error
from datetime import datetime
import math
!pip install xgboost
# Importing the most popular regression libraries.
# from sklearn.linear_model import LinearRegression 
# from sklearn.neighbors import KNeighborsRegressor
# from sklearn.linear_model import Ridge
# from sklearn.linear_model import Lasso
# from sklearn.tree import DecisionTreeRegressor
# from sklearn.ensemble import RandomForestRegressor
# from sklearn.ensemble import ExtraTreesRegressor
# from xgboost import XGBRegressor

Collecting xgboost
  Downloading xgboost-1.7.5-py3-none-win_amd64.whl (70.9 MB)
     --                                       4.0/70.9 MB 1.5 MB/s eta 0:00:46

ERROR: Exception:
Traceback (most recent call last):
  File "C:\Users\shrimantas\AppData\Local\anaconda3\lib\site-packages\pip\_vendor\urllib3\response.py", line 437, in _error_catcher
    yield
  File "C:\Users\shrimantas\AppData\Local\anaconda3\lib\site-packages\pip\_vendor\urllib3\response.py", line 560, in read
    data = self._fp_read(amt) if not fp_closed else b""
  File "C:\Users\shrimantas\AppData\Local\anaconda3\lib\site-packages\pip\_vendor\urllib3\response.py", line 526, in _fp_read
    return self._fp.read(amt) if amt is not None else self._fp.read()
  File "C:\Users\shrimantas\AppData\Local\anaconda3\lib\site-packages\pip\_vendor\cachecontrol\filewrapper.py", line 90, in read
    data = self.__fp.read(amt)
  File "C:\Users\shrimantas\AppData\Local\anaconda3\lib\http\client.py", line 465, in read
    s = self.fp.read(amt)
  File "C:\Users\shrimantas\AppData\Local\anaconda3\lib\socket.py", line 705, in readinto
    return self._sock.recv_into(b)
  File "C:\Users\shrimantas\AppData\Local\anaconda3\lib\ssl.py", line 1274, in recv_into
    return self.read(nbytes, buffer)
  File "C:\Users\shrimantas\AppData\Local\anaconda3\lib\ssl.py", line 1130, in read
    return self._sslobj.read(len, buffer)
ssl.SSLError: [SSL: DECRYPTION_FAILED_OR_BAD_RECORD_MAC] decryption failed or bad record mac (_ssl.c:2548)

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "C:\Users\shrimantas\AppData\Local\anaconda3\lib\site-packages\pip\_internal\cli\base_command.py", line 160, in exc_logging_wrapper
    status = run_func(*args)
  File "C:\Users\shrimantas\AppData\Local\anaconda3\lib\site-packages\pip\_internal\cli\req_command.py", line 247, in wrapper
    return func(self, options, args)
  File "C:\Users\shrimantas\AppData\Local\anaconda3\lib\site-packages\pip\_internal\commands\install.py", line 400, in run
    requirement_set = resolver.resolve(
  File "C:\Users\shrimantas\AppData\Local\anaconda3\lib\site-packages\pip\_internal\resolution\resolvelib\resolver.py", line 92, in resolve
    result = self._result = resolver.resolve(
  File "C:\Users\shrimantas\AppData\Local\anaconda3\lib\site-packages\pip\_vendor\resolvelib\resolvers.py", line 481, in resolve
    state = resolution.resolve(requirements, max_rounds=max_rounds)
  File "C:\Users\shrimantas\AppData\Local\anaconda3\lib\site-packages\pip\_vendor\resolvelib\resolvers.py", line 348, in resolve
    self._add_to_criteria(self.state.criteria, r, parent=None)
  File "C:\Users\shrimantas\AppData\Local\anaconda3\lib\site-packages\pip\_vendor\resolvelib\resolvers.py", line 172, in _add_to_criteria
    if not criterion.candidates:
  File "C:\Users\shrimantas\AppData\Local\anaconda3\lib\site-packages\pip\_vendor\resolvelib\structs.py", line 151, in __bool__
    return bool(self._sequence)
  File "C:\Users\shrimantas\AppData\Local\anaconda3\lib\site-packages\pip\_internal\resolution\resolvelib\found_candidates.py", line 155, in __bool__
    return any(self)
  File "C:\Users\shrimantas\AppData\Local\anaconda3\lib\site-packages\pip\_internal\resolution\resolvelib\found_candidates.py", line 143, in <genexpr>
    return (c for c in iterator if id(c) not in self._incompatible_ids)
  File "C:\Users\shrimantas\AppData\Local\anaconda3\lib\site-packages\pip\_internal\resolution\resolvelib\found_candidates.py", line 47, in _iter_built
    candidate = func()
  File "C:\Users\shrimantas\AppData\Local\anaconda3\lib\site-packages\pip\_internal\resolution\resolvelib\factory.py", line 206, in _make_candidate_from_link
    self._link_candidate_cache[link] = LinkCandidate(
  File "C:\Users\shrimantas\AppData\Local\anaconda3\lib\site-packages\pip\_internal\resolution\resolvelib\candidates.py", line 297, in __init__
    super().__init__(
  File "C:\Users\shrimantas\AppData\Local\anaconda3\lib\site-packages\pip\_internal\resolution\resolvelib\candidates.py", line 162, in __init__
    self.dist = self._prepare()
  File "C:\Users\shrimantas\AppData\Local\anaconda3\lib\site-packages\pip\_internal\resolution\resolvelib\candidates.py", line 231, in _prepare
    dist = self._prepare_distribution()
  File "C:\Users\shrimantas\AppData\Local\anaconda3\lib\site-packages\pip\_internal\resolution\resolvelib\candidates.py", line 308, in _prepare_distribution
    return preparer.prepare_linked_requirement(self._ireq, parallel_builds=True)
  File "C:\Users\shrimantas\AppData\Local\anaconda3\lib\site-packages\pip\_internal\operations\prepare.py", line 491, in prepare_linked_requirement
    return self._prepare_linked_requirement(req, parallel_builds)
  File "C:\Users\shrimantas\AppData\Local\anaconda3\lib\site-packages\pip\_internal\operations\prepare.py", line 536, in _prepare_linked_requirement
    local_file = unpack_url(
  File "C:\Users\shrimantas\AppData\Local\anaconda3\lib\site-packages\pip\_internal\operations\prepare.py", line 166, in unpack_url
    file = get_http_url(
  File "C:\Users\shrimantas\AppData\Local\anaconda3\lib\site-packages\pip\_internal\operations\prepare.py", line 107, in get_http_url
    from_path, content_type = download(link, temp_dir.path)
  File "C:\Users\shrimantas\AppData\Local\anaconda3\lib\site-packages\pip\_internal\network\download.py", line 147, in __call__
    for chunk in chunks:
  File "C:\Users\shrimantas\AppData\Local\anaconda3\lib\site-packages\pip\_internal\cli\progress_bars.py", line 53, in _rich_progress_bar
    for chunk in iterable:
  File "C:\Users\shrimantas\AppData\Local\anaconda3\lib\site-packages\pip\_internal\network\utils.py", line 63, in response_chunks
    for chunk in response.raw.stream(
  File "C:\Users\shrimantas\AppData\Local\anaconda3\lib\site-packages\pip\_vendor\urllib3\response.py", line 621, in stream
    data = self.read(amt=amt, decode_content=decode_content)
  File "C:\Users\shrimantas\AppData\Local\anaconda3\lib\site-packages\pip\_vendor\urllib3\response.py", line 559, in read
    with self._error_catcher():
  File "C:\Users\shrimantas\AppData\Local\anaconda3\lib\contextlib.py", line 153, in __exit__
    self.gen.throw(typ, value, traceback)
  File "C:\Users\shrimantas\AppData\Local\anaconda3\lib\site-packages\pip\_vendor\urllib3\response.py", line 448, in _error_catcher
    raise SSLError(e)
pip._vendor.urllib3.exceptions.SSLError: [SSL: DECRYPTION_FAILED_OR_BAD_RECORD_MAC] decryption failed or bad record mac (_ssl.c:2548)

In [ ]:
external_data = pd.read_csv(r"C:\Users\shrimantas\Downloads\New folder\hackathon\external_data.csv",)
sales = pd.read_csv(r"C:\Users\shrimantas\Downloads\New folder\hackathon\sales.csv")
stores = pd.read_csv(r"C:\Users\shrimantas\Downloads\New folder\hackathon\stores.csv")

In [20]:
external_data

,Store,Date,Temperature,Fuel_Price,PROMO1,PROMO2,PROMO3,PROMO4,PROMO5,CPI,IsHoliday
0,1,2/5/2010,42.31,2.572,NaN,NaN,NaN,NaN,NaN,211.096358,False
1,1,2/12/2010,38.51,2.548,NaN,NaN,NaN,NaN,NaN,211.242170,True
2,1,2/19/2010,39.93,2.514,NaN,NaN,NaN,NaN,NaN,211.289143,False
3,1,2/26/2010,46.63,2.561,NaN,NaN,NaN,NaN,NaN,211.319643,False
4,1,3/5/2010,46.50,2.625,NaN,NaN,NaN,NaN,NaN,211.350143,False
...,...,...,...,...,...,...,...,...,...,...,...
8185,45,6/28/2013,76.05,3.639,4842.29,975.03,3.00,2449.97,3169.69,NaN,False
8186,45,7/5/2013,77.50,3.614,9090.48,2268.58,582.74,5797.47,1514.93,NaN,False
8187,45,7/12/2013,79.37,3.614,3789.94,1827.31,85.72,744.84,2150.36,NaN,False
8188,45,7/19/2013,82.84,3.737,2961.49,1047.07,204.19,363.00,1059.46,NaN,False
8189,45,7/26/2013,76.06,3.804,212.02,851.73,2.06,10.88,1864.57,NaN,False

In [21]:
sales

        Store  Dept       Date  Weekly_Sales  IsHoliday
0           1     1   2/5/2010      24924.50      False
1           1     1  2/12/2010      46039.49       True
2           1     1  2/19/2010      41595.55      False
3           1     1  2/26/2010      19403.54      False
4           1     1   3/5/2010      21827.90      False
...       ...   ...        ...           ...        ...
383035     45    98  6/29/2012        690.52      False
383036     45    98   7/6/2012        659.65      False
383037     45    98  7/13/2012        695.21      False
383038     45    98  7/20/2012        845.30      False
383039     45    98  7/27/2012        657.63      False

[383040 rows x 5 columns]

In [22]:
stores

    Store Type
0       1    A
1       2    A
2       3    B
3       4    A
4       5    B
5       6    A
6       7    B
7       8    A
8       9    B
9      10    B
10     11    A
11     12    B
12     13    A
13     14    A
14     15    B
15     16    B
16     17    B
17     18    B
18     19    A
19     20    A
20     21    B
21     22    B
22     23    B
23     24    A
24     25    B
25     26    A
26     27    A
27     28    A
28     29    B
29     30    C
30     31    A
31     32    A
32     33    A
33     34    A
34     35    B
35     36    A
36     37    C
37     38    C
38     39    A
39     40    A
40     41    A
41     42    C
42     43    C
43     44    C
44     45    B